
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.theme-dark {
  background-image: linear-gradient( 135deg, #0e0a16 10%, #08050a 100%);
  background-size: auto;
  min-height: 100vh;
  font-family: 'Rajdhani', sans-serif;
}


.cards{
  width: 350px;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1523693777456-fb08941957cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3RhcnMlMjBibGFja3xlbnwwfHwwfHw%3D&w=1000&q=80');
 
}
.card-body {
  align-items: center; 
  color: #d8c7db;
}

.imgContainer{
  max-width: 200px;
  height: 200px;
  text-align: center;
  background-color: #140d1a ;
  background-image: linear-gradient( 135deg, #140d1a 10%, #1a1329 100%);
  align-items: center;
  border-radius: 50%;
  display: block;
  margin: auto;
  
  }

.cardImg{
  width:200px;
  height:200px;
  transition: transform .5s ease; 
  object-fit : contain;
}

.cardImg:hover{
  width:200px;
  height:200px;
  transform: scale(1.3);
}

.detailCard {
  max-width:800px;
  text-align: center;
  background-image: linear-gradient( 135deg, #140d1a 10%, #1a1329 100%);
  object-fit : fill;
  color: #d8c7db;
  object-fit: fill;
 
}

.detailCardImg {
  width:400px;
  height:400px;
  transition: transform .5s ease; 
  object-fit : contain;
}

.detailCardImg:hover {
  width:400px;
  height:400px;
  transform: scale(1.3);
}

.detailImgContainer{
  max-width: 400px;
  height: 400px;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1523693777456-fb08941957cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8c3RhcnMlMjBibGFja3xlbnwwfHwwfHw%3D&w=1000&q=80');
  align-items: center;
  border-radius: 50%;
  display: block;
  margin: auto;
  color: #d8c7db;
  
  }


.textNoneLine {
text-decoration: none;
}

.text-color {
  color: #d8c7db;
}

.link:hover{
color: #d4bed8; ;
}


