@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.logo {
  width: 500px;
}

.theme-dark {
  background-image: linear-gradient(135deg, #0e0a16 10%, #08050a 100%);
  background-size: auto;
  font-family: 'Rajdhani', sans-serif;
}

.cards {
  width: 340px;
  background-image: url('./image/card_background.jpg');
}
.card-body {
  color: #d8c7db;
}

.imgContainer {
  max-width: 200px;
  height: 200px;
  background-color: #140d1a;
  background-image: linear-gradient(135deg, #140d1a 10%, #1a1329 100%);
}

.cardImg {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
  object-fit: contain;
}

.cardImg:hover {
  width: 200px;
  height: 200px;
  transform: scale(1.3);
}

.detailCard {
  max-width: 800px;
  background-image: linear-gradient(135deg, #140d1a 10%, #1a1329 100%);
  object-fit: fill;
}

.detailCardImg {
  width: 400px;
  height: 400px;
  transition: transform 0.5s ease;
  object-fit: contain;
}

.detailCardImg:hover {
  width: 400px;
  height: 400px;
  transform: scale(1.3);
}

.detailImgContainer {
  max-width: 400px;
  height: 400px;
  background-image: url('./image/card_background.jpg');

}

.text-color {
  color: #d8c7db;
}

.link:hover {
  color: #d4bed8;
}

.inputSize {
  width: 600px;
}

.loading {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .inputSize {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    width: 300px;
  }
  .imgYoda {
    width: 300px;
  }
  .inputSize {
    width: 100%;
  }
  .detailCardImg {
    width: 250px;
    height: 250px;
    
  }

  .detailImgContainer {
    max-width: 250px;
    height: 250px;
  }

  .detailCardImg:hover {
    width: 250px;
    height: 250px;
    
    
  }
}
