@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.logo {
  width: 500px;
}

.text-color {
  color: #d8c7db;
}

.loading {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.theme {
  background-image: linear-gradient(135deg, #0e0a16 10%, #08050a 100%);
  background-size: auto;
  font-family: 'Rajdhani', sans-serif;
}

.input-width {
  width: 600px;
}

.card-body {
  color: #d8c7db;
}

.ship-card {
  width: 340px;
  background-image: url('./image/card_background.jpg');
}

.ship-card-img {
  width: 200px;
  height: 200px;
  transition: transform 0.5s ease;
  object-fit: contain;
}

.ship-card-img:hover {
  width: 200px;
  height: 200px;
  transform: scale(1.3);
}

.ship-card-img-container {
  max-width: 200px;
  height: 200px;
  background-color: #140d1a;
  background-image: linear-gradient(135deg, #140d1a 10%, #1a1329 100%);
}

.ship-detail-card {
  max-width: 800px;
  background-image: linear-gradient(135deg, #140d1a 10%, #1a1329 100%);
  object-fit: fill;
}

.ship-detail-card-img {
  width: 400px;
  height: 400px;
  transition: transform 0.5s ease;
  object-fit: contain;
}

.ship-detail-card-img:hover {
  width: 400px;
  height: 400px;
  transform: scale(1.3);
}

.ship-detail-card-img-container {
  max-width: 400px;
  height: 400px;
  background-image: url('./image/card_background.jpg');
}

.back-button-color {
  color: #d4bed8;
}

.back-button-color:hover {
  color: #d4bed8;
}

@media screen and (max-width: 768px) {
  .input-width {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .logo {
    width: 300px;
  }

  .img-yoda {
    width: 300px;
  }

  .input-width {
    width: 100%;
  }

  .ship-detail-card-img {
    width: 250px;
    height: 250px;
  }

  .ship-detail-card-img:hover {
    width: 250px;
    height: 250px;
  }

  .ship-detail-card-img-container {
    max-width: 250px;
    height: 250px;
  }
}
